body {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}


.card-title {
  font-weight: 400;
  font-size: 18px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  text-underline-offset: 3px;
}

.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding: 90px 50px 96px 48px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 29px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
  text-decoration-thickness: 0.1px;
  text-underline-offset: 4px;
  list-style-type: circle;
}

.header__links-list-item {
  padding-left: 1.3px;
  word-spacing: 1px;
}

.header__link {
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 3.5px;
}

.header__view {
  margin-left: 1px;
}

.header__about-auction {
  margin-left: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 137px;
  height: 105px;
  margin-top: 3px;
  margin-left: 3px;
}

.header__address {
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  margin-top: 2px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 757px;
  padding: 156px 50px 50px;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 30px;
  text-transform: uppercase;
  word-spacing: 100px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding-left: 28px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: end;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between ;
  margin-top: 95px;
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  margin-top: 14px;
  word-spacing: 18.5px;
}

.bet-button {
  all: unset;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
}

.lots {
  width: 100%;
  margin-top: 180px;
  padding-right: 24px;
  padding-left: 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link,
.card {
  height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 40px ;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 118%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card__alignment-left-card {
  word-spacing: -0.8px;
}

.card__alignment-right-card {
  margin-left: -2px;
}

.lots__look-more-link {
  font-size: 20px;
  text-transform: lowercase;
  margin-left: 40px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 5px;
}

.lots__look-more-link p {
}

.about {
  width: 100%;
  margin: 120px 0px 180px;
  padding: 0 24px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-content: space-between;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  margin-top: 35px;
  margin-left: 47px;
  padding-top: 5px;
}

.about__logo {
  width: 148px;
}

.about__description {
  padding: 136px 0px 0px 24px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 270px 1fr 240px;
  width: 100%;
  padding: 0 50px 0;
  margin-bottom: 82px;
}

.footer__menu {
  justify-self: center;
  margin-top: 1px;
  margin-right: 30px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-weight: normal;
  font-size: 18px;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 1px;
  list-style: none;
}